
@media screen and (max-width: 390px) {   
    .navbar {
        flex-direction: column;}
}

@media screen and (max-width: 390px) {  
.form-inline, .btn {
    margin: 10px;
    justify-content: center;
}
}