@media screen and (max-width: 490px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 490px) {
  .form-inline,
  .btn {
    margin: 10px;
    justify-content: center;
  }
}
